---
import IconGrid from "../components/IconGrid.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Gramigna">
  <main>
    <div class="flex pt-12 pl-8">
      <div
        class="relative h-32 w-32 rounded-full md:h-48 md:w-48 lg:h-64 lg:w-64"
      >
        <img class="h-full w-full rounded-full" src="/assets/me.jpg" />
      </div>
      <div class="pl-8">
        <div class="pt-8 font-extralight sm:text-lg">Hello! My name is</div>
        <div class="text-4xl md:text-6xl lg:text-8xl">Matt Gramigna</div>
        <div>
          <IconGrid />
        </div>
      </div>
    </div>
    <div class="px-8 pt-8 text-left text-xl text-stone-50">
      I work as a <span class="font-bold">software developer</span> and <span
        class="font-bold">technical lead</span
      > for projects that aim to improve and standardize the mechanisms for exchanging
      healthcare data. My <span class="font-bold">projects</span> have involved developing
      <span class="font-bold"> full-stack web applications</span> for usable clinician
      note-taking, prototyping <span class="font-bold"
        >implementations of servers</span
      > that evaluate quality of patient care in hospitals, implementing an <span
        class="font-bold"
        >execution engine for a domain-specific programming language</span
      >, and much more.
    </div>
    <div class="px-8 pt-8 text-left text-xl text-stone-50">
      My contributions to software are not limited to my professional work. I
      also enjoy doing <span class="font-bold">web development</span> in my spare
      time both as a creative outlet and to explore new technologies that I'm excited
      about. I also enjoy <span class="font-bold"
        >contributing to open-source software</span
      > as a way to broaden my skill sets and help the OSS community.
    </div>
    <div class="px-8 pt-8 text-left text-xl text-stone-50">
      When I'm not coding, I can be found <a
        class="underline"
        target="_blank"
        href="https://www.speedrun.com/user/grameens"
        >speedrunning video games</a
      >, <a
        class="underline"
        target="_blank"
        href="https://lichess.org/@/mgramigna">playing chess</a
      >, <a
        class="underline"
        target="_blank"
        href="https://www.strava.com/athletes/17761246">running</a
      >, or pursuing some other random hobby that excites me!
    </div>
  </main>
</Layout>
