---
import ProjectList from "../components/ProjectList";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Gramigna | Projects">
  <main>
    <div class="p-4 sm:p-12">
      <ProjectList client:load />
    </div>
  </main>
</Layout>
