---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matt Gramigna | Technologies">
  <main>
    <div
      class="grid grid-cols-1 divide-y-2 divide-stone-50 px-8 pt-8 sm:grid-cols-4 sm:divide-y-0 sm:divide-x-2"
    >
      <div class="text-center text-2xl">
        Languages
        <div class="flex flex-col text-left text-xl">
          <div class="italic">TypeScript</div>
          <div class="italic">JavaScript</div>
          <div class="italic">HTML/CSS</div>
          <div class="italic">Java</div>
          <div class="italic">Python</div>
          <div class="italic">Rust</div>
          <div class="italic">Ruby</div>
          <div class="italic">C</div>
          <div class="italic">C++</div>
          <div class="italic">Bash</div>
        </div>
      </div>
      <div class="text-center text-2xl">
        Frameworks

        <div class="flex flex-col text-left text-xl">
          <div class="italic">TypeScript</div>
          <div class="italic">JavaScript</div>
          <div class="italic">HTML/CSS</div>
          <div class="italic">Java</div>
          <div class="italic">Python</div>
          <div class="italic">Rust</div>
          <div class="italic">Ruby</div>
          <div class="italic">C</div>
          <div class="italic">C++</div>
          <div class="italic">Bash</div>
        </div>
      </div>
      <div class="text-center text-2xl">Databases</div>
      <div class="text-center text-2xl">Misc</div>
    </div>
  </main>
</Layout>
